/* Custom styles */

.navbar {
    background-color: #57788b;
}

body {
    background-color: #001b38;
}

a {
    color: #f8f8f8;
}

h1 {
    color: #f8f8f8;
    font-size: 40px;
}

h2 {
    color: #f8f8f8;
}

h3 {
    color: #f8f8f8;
}

h4 {
    color: #f8f8f8;
}

p {
    color: #f8f8f8 !important;
}

ul li {
    color: #f8f8f8;
}

code {
    color: #001b38; /* Replace with your desired color */
    background-color: #f8f8f8; /* Optional: Change background for inline code */
    padding: 2px 4px;
    border-radius: 4px;
  }

table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}

footer {
    background-color: #57788b;
}

footer a {
    color: #f8f8f8;
}

p.text-muted {
    color: #f8f8f8 !important;
}
p.navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link{
    color: #f8f8f8 !important;
}