/* Custom styles */

.navbar {
    background-color: #57788b;
}

header {
    background-color: #f3de89;
}

body {
    background-color: #001b38;
}

a {
    color: #f8f8f8;
}

h1 {
    color: #f8f8f8;
}

h2 {
    color: #f8f8f8;
}

h3 {
    color: #f8f8f8;
}

h4 {
    color: #f8f8f8;
}

p {
    color: #f8f8f8 !important;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul li {
    color: #f8f8f8;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

code {
    color: #001b38;
    background-color: #f8f8f8;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

table {
    overflow-x: auto;
    display: block;
    white-space: nowrap;
}

footer {
    background-color: #57788b;
}

footer a {
    color: #f8f8f8;
}

footer a:hover{
    color: #f3de89;;
}

p.copyright.text-muted {
    color: #f8f8f8 !important;
}

p.theme-by.text-muted {
    color: #f8f8f8 !important;
}

nav a {
    color: #f8f8f8;
}

nav a:hover {
    color: #f3de89;
}