/* Custom styles */

.navbar {
    background-color: #57788b;
}

body {
    background-color: #001b38;
}

a {
    color: #f8f8f8;
}

h1 {
    color: #f8f8f8;
}

h2 {
    color: #f8f8f8;
}

h3 {
    color: #f8f8f8;
}

h4 {
    color: #f8f8f8;
}

p {
    color: #f8f8f8 !important;
}

footer {
    background-color: #57788b;
}

footer a {
    color: #f8f8f8;
}